body {
    font-family: 'Roboto', sans-serif;
    padding: 0 1em;
    margin: 0;
    background-color: #121212;
    color: #c2c2c2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

h1,
h3 {
    color: #ffffff;
    font-weight: 200;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 1em;
}

select,
button {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button {
    width: fit-content;
}

button:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
}

.event-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#queue {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.queue-card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.queue-card h4 {
    margin: 0 0 10px;
    color: #ffffff;
}

.queue-card p {
    margin: 5px 0;
    color: #b3b3b3;
    font-size: 0.9rem;
}

#log {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 5px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #333 #1e1e1e;
}

/* Log message type classes */
.log-INFO {
    color: #2196f3;
}

.log-SUCCESS {
    color: #4caf50;
}

.log-WARN {
    color: #ff9800;
}

.log-ERROR {
    color: #f44336;
}

.log-DEBUG {
    color: #9e9e9e;
}

.log-EVENT {
    color: #747474;
}

.log-entry {
    padding: 5px;
    border-bottom: 1px dotted #333;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 37px;
}

.log-entry button {
    margin-left: 10px;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
    color: #c2c2c2;
}

.log-entry button:hover {
    /* background-color: #004d40; */
}

/* Modals */
#payload-modal,
#process-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s ease;
}

#process-content {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    overflow-x: hidden;
}


#payload-modal.active,
#process-modal.active {
    display: flex;
    opacity: 1;
}

/* Modal Wrapper */
.modal-wrapper {
    background-color: #2c2c2c;
    padding: 5px;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.4s ease;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

/* Modal Header (contains title and close button) */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.modal-header h4 {
    color: #ffffff;
    margin: 0;
    font-size: 1.5rem;
}

#settings-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s ease;
}

#settings-modal.active {
    display: flex;
    opacity: 1;
}

/* Form Field Styles */
.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-content label {
    color: #c2c2c2;
    font-weight: 600;
}

.modal-content input {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;

}

.modal-content input:focus {
    border-color: #444444;
    outline: none;
    box-shadow: 0 0 5px #333;
}

.modal-content button[type="button"] {
    width: 100%;
    background: #222222;
    color: rgb(231, 231, 231);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #1a1a1a;
    font-size: 0.9rem;
}

.modal-content button[type="button"]:hover {
    background-color: #333;
}

/* Save Button */
.save-btn {
    background-color: #178137;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.save-btn:hover {
    background-color: #0f5d25;
}

/* Close button */
.close-btn {
    background-color: #d32f2f;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #9a0007;
}

/* Modal Content */
.modal-content {
    background-color: #1e1e1e;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow-y: auto;
    max-height: 60vh;
    scrollbar-width: thin;
    scrollbar-color: #333 #1e1e1e;
}

.modal-content h4 {
    color: #ffffff;
    margin-top: 0;
}

.modal-content pre {
    background-color: #1e1e1e;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    white-space: pre-wrap;
    color: #ffffff;
    max-height: 100%;
}

.modal-content button {
    background-color: #d32f2f;
}

.modal-content button:hover {
    background-color: #9a0007;
}

/* Animations */
@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.json-row {
    padding: 5px;
}

.json-key {
    font-weight: bold;
}

.json-value {
    color: #007BFF;
    font-family: monospace;
}

#new-script-container {
    margin: 5px 15px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #333;
}

#newScriptType,
#newScriptPath {
    display: block;
}


/* Table container styling */
.payload-table-container {
    margin-bottom: 20px;
}

/* Basic table styles */
.payload-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}

/* Table header styles */
.payload-table th {
    padding: 10px;
    font-weight: bold;
    border: 1px solid #333;
}

/* Table cell styles */
.payload-table td {
    padding: 10px;
    vertical-align: middle;
    border: 1px solid #333;
    font-size: 0.9rem;
}

.payload-table td .user,
.payload-table td .devices {
    display: flex;
    align-items: center;
    gap: 8px;
}

.payload-table td .user span {
    font-weight: bold;
}

.payload-table td .devices {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.payload-table td .devices span:first-child {
    font-weight: bold;
    background: #333;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    display: inline-block;
} 

.payload-table td .devices span:last-child {
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    display: inline-block;
}

.payload-table td .media {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

.payload-table td .media div:first-child {
    font-weight: bold;
    background: #333;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    display: inline-block;
    /* text ellipsis on linebreak */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.episode {
    font-weight: 100;
    font-size: 0.8rem;
    display: inline-block;
    /* max-width: 50px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Avatar image style */
.payload-table img {
    border-radius: 50%;
    max-width: 50px;
    vertical-align: middle;
}